body{
  font-family: "Lucida Grande", sans-serif;
  color: white;
  background: black;
}

h1{
  font-size: 64px;
  text-align: center;
}

h2{
  font-size: 30px;
  text-shadow: 5px 5px 2px #808080;
}

p{
  font-size: 24px;
  padding-top: 20px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
}

div{
  height: 150px;
  padding: 25px;
}

#red{
  background-color: #B53737;
  text-align: right;
}

#blue{
  background-color: #296d98;
  text-align: left;
}

#yellow{
  background-color: #fcd12a;
  text-align: right;
}

#yellow h2{
  color: black;
  text-shadow: 5px 5px 2px #c7e2c7;
}

#yellow p{
  color: black;
}

#green{
  background-color: #2e856e;
  text-align: left;
}

footer{
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
}
